<div class="row">
  <div class="col-sm-9">
    <a (click)="showEditModel(0)" class="btn btn-success">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add New
    </a>
  </div>
  <div class="col-sm-3" style="text-align: right;">
    <div>{{ pageLabel$ | async }}</div>
  </div>
</div>

<div class='redirects table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th class="clickable" (click)="sortby('count')">
          Count
          <i *ngIf="sortKey == 'count' && sortOrder == 'DESC'" class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
          <i *ngIf="sortKey == 'count' && sortOrder == 'ASC'" class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
        </th>
        <th>Source</th>
        <th>Destination</th>
        <th class="clickable" (click)="sortby('expiry')">
          Expires
          <i *ngIf="sortKey == 'expiry' && sortOrder == 'DESC'" class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
          <i *ngIf="sortKey == 'expiry' && sortOrder == 'ASC'" class="fa fa-caret-up fa-2x" aria-hidden="true"></i>

        </th>
        <th class="clickable" (click)="sortby('lastSeen')">
          Last Seen
          <i *ngIf="sortKey == 'lastSeen' && sortOrder == 'DESC'" class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
          <i *ngIf="sortKey == 'lastSeen' && sortOrder == 'ASC'" class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let redirect of (redirects$ | async)'>
        <td>{{ redirect.count }}</td>
        <td>{{ redirect.source }}</td>
        <td>{{ redirect.destination }}</td>
        <td class="fixed-date-column">{{ redirect.expiry | date:'dd MMM yyyy' }}</td>
        <td class="fixed-date-column">{{ redirect.lastSeen | date:'dd MMM yyyy' }}</td>
        <td class="fixed-button-column">
          <a (click)="showEditModel(redirect.source)" class="btn btn-primary">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a (click)="showResetModel(redirect.source)" class="btn btn-warning">
            <i class="fa fa-hourglass-start" aria-hidden="true"></i>    
          </a>
          <a (click)="showDeleteModel(redirect.source)" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>    
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<pagination [totalItems]="totalItems$ | async" [(ngModel)]="currentPage" [itemsPerPage]="10" class="pagination" [boundaryLinks]="true"
  (pageChanged)="pageChanged($event)"></pagination>
