<div class="modal-header">
  <h4 class="modal-title pull-left">
    <span *ngIf="isAddNewMode"> <i class="fa fa-plus" aria-hidden="true"></i> Add New</span>
    <span *ngIf="!isAddNewMode"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</span> URL Redirect
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Error!</strong> {{ errorMessage }}.
  </div>

  <form *ngIf="data" #redirectForm="ngForm" (ngSubmit)="saveRedirect(redirectForm);" autocomplete="off" novalidate>
    <input [(ngModel)]="data.count" name="count" type="hidden" />
    <input [(ngModel)]="data.lastSeen" name="lastSeen" type="hidden" />

    <div class="form-group" [ngClass]="{'error': redirectForm.controls.source?.invalid && redirectForm.controls.source?.touched}">
      <label for="redirectName">Source URL:</label>
      <em *ngIf="redirectForm.controls.source?.invalid && (redirectForm.controls.source?.touched || mouseoverSubmit)">Required</em>
      <input [(ngModel)]="data.source" name="source" required [readonly]="!isAddNewMode" type="text" class="form-control" placeholder="Enter Source URL..."
      />
    </div>

    <div class="form-group" [ngClass]="{'error': redirectForm.controls.destination?.invalid && redirectForm.controls.destination?.touched}">
      <label for="redirectName">Destination URL:</label>
      <em *ngIf="redirectForm.controls.destination?.invalid && (redirectForm.controls.destination?.touched || mouseoverSubmit)">Required</em>
      <input [(ngModel)]="data.destination" name="destination" required type="text" class="form-control" placeholder="Enter Source URL..."
      />
    </div>

    <div class="form-group" [ngClass]="{'error': redirectForm.controls.expiry?.invalid && redirectForm.controls.expiry?.touched}">
      <label for="redirectName">Expiry:</label>
      <em *ngIf="redirectForm.controls.expiry?.invalid && (redirectForm.controls.expiry?.touched || mouseoverSubmit)">Required</em>
      <input [(ngModel)]="dateToDisplay" type="text" name="expiry" required class="form-control" (focus)="showDatePicker = true"
      />
      <div *ngIf="showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
        <datepicker [(ngModel)]="data.expiry" [ngModelOptions]="{standalone: true}" [showWeeks]="false" (selectionDone)="onExpirySelection($event)"></datepicker>
      </div>
    </div>

    <span (mouseenter)="mouseoverSubmit=true" (mouseleave)="mouseoverSubmit=false">
        <button type="submit" [disabled]="redirectForm.invalid" class="btn btn-primary">Save</button>
    </span>

    <button type="button" class="btn btn-default" (click)="cancel(redirectForm)">Cancel</button>
  </form>
</div>