<a (click)="editRow(0)" class="btn btn-success">Add New</a>

<div class='redirects table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Count</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Expires</th>
        <th>Last Seen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let redirect of (redirects$ | async)'>
        <td>{{ redirect.redirectCount }}</td>
        <td class="column-url">{{ redirect.source }}</td>
        <td class="column-url">{{ redirect.destination }}</td>
        <td>{{ redirect.expiry }}</td>
        <td>{{ redirect.lastSeen }}</td>
        <td>
          <a (click)="editRow(redirect.redirectId)" class="btn btn-primary">EDIT</a>
          <a (click)="showDeleteModel(redirect.redirectId)" class="btn btn-danger">DELETE</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<redirect-edit [redirectId]="selectedRedirectId" #modalForm></redirect-edit>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete confirmation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this record?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteRow(idToDelete)">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
</div>