<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Redirect Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <redirect-list></redirect-list>

  <modal-form></modal-form>
  <modal-confirm></modal-confirm>
</div>


<!--
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
</div>
<h2 class="alert alert-success">Bootstrap is working fine</h2>

<div class="input-group" dropdown> <input type="text" class="form-control" value="{{dtFinal | date:'dd/MM/yyyy'}}">
  <div class="input-group-addon calendar-point" dropdownToggle> <span class="fa fa-calendar"></span> </div>
</div>
<datepicker [(ngModel)]="dtFinal" [minDate]="minDate" [showWeeks]="true"></datepicker>
-->